config.env
config.secrets.env
.vscode
*__pycache__
*.txt
!config/no_trade_dates.txt
!requirements.txt
.VSCodeCounter
token*.json
credentials.json
*.log
test.py
oldrm.md
.venv
config.secret.env
config.secret.env.gpg
