[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
google-api-python-client = "==2.149.0"
google-auth-httplib2 = "*"
google-auth-oauthlib = "==1.2.1"
python-dotenv = "==1.0.1"
pymongo = "<5.0,>=4.0"
dnspython = "*"
requests = "==2.32.3"
pytz = "*"
psutil = "*"
certifi = "==2024.8.30"
pypi = "*"
pytest = "*"
pytest-cov = "*"
coverage = "*"
httpx = "*"
protobuf = "==5.28.2"
schwab-py = "==1.4.0"
pip = "*"
pyjwt = "*"
pandas-market-calendars = "*"
zstandard = "*"
motor = {extras = ["aws", "srv", "snappy", "ocsp", "zstd", "gssapi", "encryption"] }
setuptools = "*"
numpy = "*"
pandas-ta = "*"

[requires]
python_version = "3.8"
